<% include partials/header %>

<div>  
    <section class="mz-block">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                <img class="no8" src="img/Title_number_8.svg" height="150" alt="Title Number 8">
                </div>
            </div>
        </div>    
    </section>
    <section class="mz-block">
        <div class="container">
            <div class="col text-center">
                <h1>rules for looking after<br>your money</h1>
                <br>
                <i class="fas fa-chevron-down"></i>
            </div>
        </div>
    </section>
</div>

<section class="mz-block">
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-10 col-md-8 col-lg-6 text-center">
              <div style="padding:60% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/291745143?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <br>
                <br>
            </div>
          </div>
        </div>
    </div>
</section>

<section class="mz-block" data-block-type="call_to_action" data-id="3" draggable="true">
    <div class="container" style="width:60%;">

<!--
        <div class="row justify-content-center">
          <div class="col-xs-1 col-sm-2 col-md-1 col-lg-1 col-xl-1 text-center">
              <img src="img/Number_1.svg" height="30" alt="Number 1">
          </div>
         <div class="col-xs-4 col-sm-6 col-md-4 col-lg-4 col-xl-4 text-left">
              <h3>GET A SAVING HABIT</h3>
          </div>
          <div class="col-xs-1 col-sm-2 col-md-1 col-lg-1 col-xl-1 text-center">
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#shareModal" style="padding:0;">
              <img src="img/Share.svg" height="30">
            </button>
          </div>
        </div>
-->

        <div class="row justify-content-center">
          <div class="" style="position: relative; width:100%; max-width:370px;">
            <img src="img/Number_1.svg" height="30" alt="Number 1" style="position: absolute; top: 15px; left:0;">

            <h3 style="padding:0 50px;">GET A SAVING HABIT</h3>

            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#shareModal" style="position: absolute; top: 15px; right:0; padding:0; ">
            <img src="img/Share.svg" height="30">
            </button>
        </div>

        </div>
        
        
</section>

<section id="animations" class="mz-block">
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-10 col-md-8 col-lg-6 text-center">
              <div style="padding:60% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/291745143?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <br>
                <br>
            </div>
          </div>
        </div>
    </div>
</section>

<section id="animations" class="mz-block" data-block-type="call_to_action" data-id="3" draggable="true">
    <div class="container" style="width:60%;">

<!--
        <div class="row justify-content-center">
          <div class="col-xs-1 col-sm-2 col-md-1 col-lg-1 col-xl-1 text-center">
              <img src="img/Number_1.svg" height="30" alt="Number 1">
          </div>
         <div class="col-xs-4 col-sm-6 col-md-4 col-lg-4 col-xl-4 text-left">
              <h3>GET A SAVING HABIT</h3>
          </div>
          <div class="col-xs-1 col-sm-2 col-md-1 col-lg-1 col-xl-1 text-center">
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#shareModal" style="padding:0;">
              <img src="img/Share.svg" height="30">
            </button>
          </div>
        </div>
-->

        <div class="row justify-content-center">
          <div class="" style="position: relative; width:100%; max-width:370px;">
            <img src="img/Number_1.svg" height="30" alt="Number 1" style="position: absolute; top: 15px; left:0;">

            <h3 style="padding:0 50px;">GET A SAVING HABIT</h3>

            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#shareModal" style="position: absolute; top: 15px; right:0; padding:0; ">
            <img src="img/Share.svg" height="30">
            </button>
        </div>

        </div>
        
        
</section>

<section id="about" class="mz-block">
    <div class="container">
        <div class="col text-center">
            <h1>About<br><span class="headcolor">Money Zingers</span></h1>
            <br>
            <div class="container">
                <p class="text-left">US Social Scientist Harold Pollack claims that you can fit all you need to know about money on an index card. He followed this up with a book.</p>
                <p class="text-left">At Landscape, we share the same philosophy. When deciding what to do with our hard-earned wages, the possibilities beyond food, drink and shelter should be simple to understand.</p>
                <p class="text-left">So we took those tips as inspiration for a series of short animations we call Money Zingers. We hope you like them. Please share and let us know your thoughts.</p>
            </div>
        </div>
        <i class="fas fa-chevron-down"></i>
    </div>
</section>

<section id="weare" class="mz-block">
    <div class="container">
        <div class="col text-center">
            <h1>We are<br><span class="headcolor">Landscape</span></h1>
            <br>
            <p class="text-center">Landscape is an award-winning design & communications agency. We create tools, games, videos, digital experiences and learning materials to help organisations engage its workforce with reward, benefits, culture and wellbeing.</p>
            <p class="text-center">Money is the main form of stress in the workplace and the impact on business and the economy is clear. The financial exchange between employer and employee is the point at which guidance and support is needed most.</p>
            <p class="text-center">We apply techniques such as behavioural economics, gamification and learning styles, to develop financial wellbeing resources which help us spend our money well.</p>
        </div>
        <i class="fas fa-chevron-down"></i>
    </div>
</section>

<section id="contact" class="mz-block" data-block-type="call_to_action" data-id="3" draggable="true">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-md-6 col-lg-4 text-center">
          <p>If you are interested in finding out more about Money Zingers and other wellbeing content, subscribe to our mailing list</p>
          <br>
          <input type="email" name="email" value="" placeholder="Your e-mail">
          <br>

        </h2>
      </div>
    </div>
  </div>
</section>
</section>
<footer id="contact" class="mz-block footer-small" data-block-type="footers" data-id="6">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <p><a href="mailto:info@yourlandscape.co.uk?Subject=Money%20Zingers" target="_top">info@yourlandscape.co.uk</a></p>
      </div>
      <div class="col">
        <p><a href="http://www.yourlandscape.co.uk">yourlandscape.co.uk</a></p>
      </div>
      <div class="col">
        <p>Copyright Landscape 2018</p>
      </div>
    </div>
  </div>
  <hr>

</footer>

<!-- Modal -->
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Share this!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Click the links below to share:
          <ul class="share-buttons">
              <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fmoneyzingers.com%2F&quote=8%20rules%20for%20looking%20after%20your%20money:%20Brought%20to%20you%20by%20Landscape" title="Share on Facebook" target="_blank"><i class="fab fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fmoneyzingers.com%2F&text=8%20rules%20for%20looking%20after%20your%20money:%20Brought%20to%20you%20by%20Landscape:%20http%3A%2F%2Fmoneyzingers.com%2F" target="_blank" title="Tweet"><img alt="Tweet" src="img/simple_icons_black/Twitter.png" /></a></li>
              <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fwww.moneyzingers.com&title=Brought%20to%20you%20by%20Landscape&summary=8%20rules%20for%20looking%20after%20your%20money&source=http%3A%2F%2Fwww.moneyzingers.com" target="_blank" title="Share on LinkedIn"><img alt="Share on LinkedIn" src="img/simple_icons_black/LinkedIn.png" /></a></li>
              <li><a href="mailto:?subject=8%20rules%20for%20looking%20after%20your%20money&body=Brought%20to%20you%20by%20Landscape:%20http%3A%2F%2Fmoneyzingers.com%2F" target="_blank" title="Send email"><img alt="Send email" src="img/simple_icons_black/Email.png" /></a></li>
            </ul>
        </div>
        <!--<div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>-->
        </div>
      </div>
    </div>
  </div>
  
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<script src="https://player.vimeo.com/api/player.js"></script>

<% include partials/footer %>
