<% include partials/header %>
<!--main body-->
<div id="fullpage">

<!--Section 1-->
    <div class="section">
        <section class="mz-block">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <img class="no8" src="img/no8.svg" height="140" alt="Title Number 8">
                    </div>
                </div>
            </div>    
        </section>
        <section class="mz-block">
            <div class="container">
                <div class="col text-center">
                    <h1>rules for looking after<br>your money</h1>
                    <br>
                </div>
                <div class="col text-center chevronsvg">
                    <a class="nav-link" href="#eightrules"><img src="img/chevron.svg" height="25" alt="Chevron"></a>
                </div>
            </div>
        </section>
    </div>
    
<!--Section 2--><!--eight rules videos-->
    
    <div class="section fp-auto-height">
        <div class="row padbottom boardfixw">
            
            <!-- Video 1 Section-->
	        <div class="col-sm-6">
	            <!-- Video 1 -->
	            <div class="d-flex flex-column bd-highlight anipaddl">
                      <div class="p-1">
                        <!--<div class="videoWrapper">-->
	                        <button class="js-modal-btn" data-video-id="291745143">
	                            <img width="400" height="400" src="img/Money1.png" id="dagger" />
	                        </button>
	                        
                    <!--<iframe width="500" height="349" src="https://player.vimeo.com/video/291745143?title=0&byline=0&portrait=0" frameborder="0" allowfullscreen></iframe>-->
                        <!--</div>-->
                      </div>
                      <div class="p-1 morespace">
                          <div>
                            <section class="mz-block pad10" data-block-type="call_to_action" data-id="3" draggable="true">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="d-flex flex-row flex-nowrap mzalign">
                                            <div class="p-1">
                                                <img src="img/Number_1.svg" height="37" alt="Number 1">
                                            </div>
                                            <div class="p-1 align-middle">
                                                <h3>GET A SAVING HABIT</h3>
                                            </div>
                                            <div class="p-1">
                                                    <div id="share-button" class="need-share-button-default" data-share-position="middleLeft" data-share-share-button-class="custom-button" data-share-networks="Mailto,Twitter,Pinterest,Facebook,Linkedin"><span class="custom-button"><i class="share-icon"><img src="img/Share.svg" height="37"></i></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                          </div>
                      </div>
                </div>
	        </div>
	        
	        <!-- Video 2 Section-->
	        <div class="col-sm-6">
	            <!-- Video 2 -->
	            <div class="d-flex flex-column bd-highlight anipaddr">
                      <div class="p-1">
                        <!--<div class="videoWrapper">-->
	                        <button class="js-modal-btn" data-video-id="291745143">
	                            <img width="400" height="400" src="img/Money2.png" id="dagger" />
	                        </button>
                    <!--<iframe width="500" height="349" src="https://player.vimeo.com/video/291745143?title=0&byline=0&portrait=0" frameborder="0" allowfullscreen></iframe>-->
                        <!--</div>-->
                      </div>
                      <div class="p-1 morespace">
                          <div>
                            <section class="mz-block pad10" data-block-type="call_to_action" data-id="3" draggable="true">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="d-flex flex-row flex-nowrap mzalign">
                                            <div class="p-1">
                                                <img src="img/Number_2.svg" height="37" alt="Number 2">
                                            </div>
                                            <div class="p-1 align-middle">
                                                <h3>SPREAD THE RISK</h3>
                                            </div>
                                            <div class="p-1">
                                                <div id="share-button" class="need-share-button-default" data-share-position="middleLeft" data-share-share-button-class="custom-button" data-share-networks="Mailto,Twitter,Pinterest,Facebook,Linkedin"><span class="custom-button"><i class="share-icon"><img src="img/Share.svg" height="37"></i></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                          </div>
                      </div>
                </div>
	        </div>
	    
	    <!--<div class="row">-->
	        <!-- Video 3 Section -->
	        <div class="col-sm-6">
	            <div class="d-flex flex-column bd-highlight anipaddl">
                      <div class="p-1 bd-highlight">
                        <!--<div class="videoWrapper">-->
	                        <button class="js-modal-btn" data-video-id="291745143">
	                            <img width="400" height="400" src="img/Money3.png" id="dagger" />
	                        </button>
                    <!--<iframe width="500" height="349" src="https://player.vimeo.com/video/291745143?title=0&byline=0&portrait=0" frameborder="0" allowfullscreen></iframe>-->
                        <!--</div>-->
                      </div>
                      <div class="p-1 bd-highlight morespace">
                          <div>
                            <section class="mz-block pad10" data-block-type="call_to_action" data-id="3" draggable="true">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="d-flex flex-row flex-nowrap mzalign">
                                            <div class="p-1">
                                                <img src="img/Number_3.svg" height="37" alt="Number 3">
                                            </div>
                                            <div class="p-1 align-middle">
                                                <h3>CREDIT CARDS ARE EXPENSIVE</h3>
                                            </div>
                                            <div class="p-1">
                                                    <div id="share-button" class="need-share-button-default" data-share-position="middleLeft" data-share-share-button-class="custom-button" data-share-networks="Mailto,Twitter,Pinterest,Facebook,Linkedin"><span class="custom-button"><i class="share-icon"><img src="img/Share.svg" height="37"></i></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                          </div>
                      </div>
                </div>
	        </div>
	        
	        
	        <div class="col-sm-6">
	            <div class="d-flex flex-column bd-highlight anipaddr">
                      <div class="p-1 bd-highlight">
                        <!--<div class="videoWrapper">-->
	                        <button class="js-modal-btn" data-video-id="291745143">
	                            <img width="400" height="400" src="img/Money4.png" id="dagger" />
	                        </button>
                    <!--<iframe width="500" height="349" src="https://player.vimeo.com/video/291745143?title=0&byline=0&portrait=0" frameborder="0" allowfullscreen></iframe>-->
                        <!--</div>-->
                      </div>
                      <div class="p-1 bd-highlight morespace">
                          <div>
                            <section class="mz-block pad10" data-block-type="call_to_action" data-id="3" draggable="true">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="d-flex flex-row flex-nowrap mzalign">
                                            <div class="p-1">
                                                <img src="img/Number_4.svg" height="37" alt="Number 4">
                                            </div>
                                            <div class="p-1 align-middle">
                                                <h3>SAVE FOR LATER LIFE</h3>
                                            </div>
                                            <div class="p-1 ">
                                                    <div id="share-button" class="need-share-button-default" data-share-position="middleLeft" data-share-share-button-class="custom-button" data-share-networks="Mailto,Twitter,Pinterest,Facebook,Linkedin"><span class="custom-button"><i class="share-icon"><img src="img/Share.svg" height="37"></i></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                          </div>
                      </div>
                </div>
	        </div>
	    <!--</div>-->
	    <!--<div class="row">-->
	        <div class="col-sm-6">
	            <div class="d-flex flex-column bd-highlight anipaddl">
                      <div class="p-1 bd-highlight">
                        <!--<div class="videoWrapper">-->
	                        <button class="js-modal-btn" data-video-id="291745143">
	                            <img width="400" height="400" src="img/Money5.png" id="dagger" />
	                        </button>
                    <!--<iframe width="500" height="349" src="https://player.vimeo.com/video/291745143?title=0&byline=0&portrait=0" frameborder="0" allowfullscreen></iframe>-->
                        <!--</div>-->
                      </div>
                      <div class="p-1 bd-highlight">
                          <div>
                            <section class="mz-block pad10" data-block-type="call_to_action" data-id="3" draggable="true">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="d-flex flex-row flex-nowrap mzalign">
                                            <div class="p-1">
                                                <img src="img/Number_5.svg" height="37" alt="Number 5">
                                            </div>
                                            <div class="p-1 align-middle">
                                                <h3>MAX THE PERKS</h3>
                                            </div>
                                            <div class="p-1">
                                                    <div id="share-button" class="need-share-button-default" data-share-position="middleLeft" data-share-share-button-class="custom-button" data-share-networks="Mailto,Twitter,Pinterest,Facebook,Linkedin"><span class="custom-button"><i class="share-icon"><img src="img/Share.svg" height="37"></i></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                          </div>
                      </div>
                </div>
	        </div>
	        <div class="col-sm-6">
	            <div class="d-flex flex-column bd-highlight anipaddr">
                      <div class="p-1 bd-highlight">
                        <!--<div class="videoWrapper">-->
	                        <button class="js-modal-btn" data-video-id="291745143">
	                            <img width="400" height="400" src="img/Money6.png" id="dagger" />
	                        </button>
                    <!--<iframe width="500" height="349" src="https://player.vimeo.com/video/291745143?title=0&byline=0&portrait=0" frameborder="0" allowfullscreen></iframe>-->
                        <!--</div>-->
                      </div>
                      <div class="p-1 bd-highlight">
                          <div>
                            <section class="mz-block pad10" data-block-type="call_to_action" data-id="3" draggable="true">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="d-flex flex-row flex-nowrap mzalign">
                                            <div class="p-1">
                                                <img src="img/Number_6.svg" height="37" alt="Number 6">
                                            </div>
                                            <div class="p-1 align-middle">
                                                <h3>COST OF MONEY</h3>
                                            </div>
                                            <div class="p-1">
                                                    <div id="share-button" class="need-share-button-default" data-share-position="middleLeft" data-share-share-button-class="custom-button" data-share-networks="Mailto,Twitter,Pinterest,Facebook,Linkedin"><span class="custom-button"><i class="share-icon"><img src="img/Share.svg" height="37"></i></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                          </div>
                      </div>
                </div>
	        </div>
	    <!--</div>-->
	    <!--<div class="row">-->
	        <div class="col-sm-6">
	            <div class="d-flex flex-column bd-highlight anipaddl">
                      <div class="p-1 bd-highlight">
                        <!--<div class="videoWrapper">-->
	                        <button class="js-modal-btn" data-video-id="291745143">
	                            <img width="400" height="400" src="img/Money7.png" id="dagger" />
	                        </button>
                    <!--<iframe width="500" height="349" src="https://player.vimeo.com/video/291745143?title=0&byline=0&portrait=0" frameborder="0" allowfullscreen></iframe>-->
                        <!--</div>-->
                      </div>
                      <div class="p-1 bd-highlight">
                          <div>
                            <section class="mz-block pad10" data-block-type="call_to_action" data-id="3" draggable="true">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="d-flex flex-row flex-nowrap mzalign">
                                            <div class="p-1">
                                                <img src="img/Number_7.svg" height="37" alt="Number 7">
                                            </div>
                                            <div class="p-1 align-middle">
                                                <h3>SEEK GOOD ADVICE</h3>
                                            </div>
                                            <div class="p-1">
                                                    <div id="share-button" class="need-share-button-default" data-share-position="middleLeft" data-share-share-button-class="custom-button" data-share-networks="Mailto,Twitter,Pinterest,Facebook,Linkedin"><span class="custom-button"><i class="share-icon"><img src="img/Share.svg" height="37"></i></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                          </div>
                      </div>
                </div>
	        </div>
	        <div class="col-sm-6">
	            <div class="d-flex flex-column bd-highlight anipaddr">
                      <div class="p-1 bd-highlight">
                        <!--<div class="videoWrapper">-->
	                        <button class="js-modal-btn" data-video-id="291745143">
	                            <img width="400" height="400" src="img/Money8.png" id="dagger" />
	                        </button>
                    <!--<iframe width="500" height="349" src="https://player.vimeo.com/video/291745143?title=0&byline=0&portrait=0" frameborder="0" allowfullscreen></iframe>-->
                        <!--</div>-->
                      </div>
                      <div class="p-1 bd-highlight">
                          <div>
                            <section class="mz-block pad10" data-block-type="call_to_action" data-id="3" draggable="true">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="d-flex flex-row flex-nowrap mzalign">
                                            <div class="p-1">
                                                <img src="img/Number_8.svg" height="37" alt="Number 8">
                                            </div>
                                            <div class="p-1 align-middle">
                                                <h3>PLAY IT FAIR</h3>
                                            </div>
                                            <div class="p-1">
                                                    <div id="share-button" class="need-share-button-default" data-share-position="middleLeft" data-share-share-button-class="custom-button" data-share-networks="Mailto,Twitter,Pinterest,Facebook,Linkedin"><span class="custom-button"><i class="share-icon"><img src="img/Share.svg" height="37"></i></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                          </div>
                      </div>
                </div>
	        </div>
	    <!--</div>-->
        </div>
    </div>
    
<!--Section 3 About-->
    <div class="section">
        <section class="mz-block padtop10">
            <div class="container">
                <div class="col text-center boardfixp">
                        <h1>About<br><span class="headcolor">Money Zingers</span></h1>
                            <br>
                    <div class="container parapad2">
                        <p class="text-left whitep">US Social Scientist Harold Pollack claims that you can fit all you need to know about money on an <a class="paralink" href="https://www.forbes.com/sites/zackfriedman/2017/03/09/9-money-rules-index-card/#58325a6a2c09">index card</a>. He followed this up with a <a class="paralink" href="https://www.amazon.co.uk/Index-Card-Personal-Finance-Complicated/dp/0143130528/ref=sr_1_1?ie=UTF8&qid=1539601171&sr=8-1&keywords=harold+pollack">book</a>.</p>
                        <p class="text-left whitep">At Landscape, we share the same philosophy. When deciding what to do with our hard-earned wages, the possibilities beyond food, drink and shelter should be simple to understand.</p>
                        <p class="text-left whitep">So we took those tips as inspiration for a series of short animations we call <em>Money Zingers</em>. We hope you like them. Please share and let us know your <a class="paralink" href="mailto:moneyzingers@yourlandscape.co.uk?Subject=Money%20Zingers">thoughts</a>.</p>
                        <br>
                        <img src="img/Download.svg" height="40" alt="Chevron">
                        <a class="paralink" href="/downloads/MoneyZingers.pdf" download>Download pdf</a>
                    </div>
                </div>
                
                <div class="col text-center chevronsvg">
                    <a class="nav-link" href="#weare"><img src="img/chevron.svg" height="25" alt="Chevron"></a>
                </div>
            </div>
            
        </section>
    </div>
    
<!--Section 4 We Are-->
    <div class="section">
        <section class="mz-block padtop10">
            <div class="container">
                <div class="col text-center boardfixy">
                    <h1>We are<br><span class="headcolor">Landscape</span></h1>
                        <br>
                    <div class="container parapad2">    
                        <p class="text-left bluep"><a class="paralinkb" href="http://www.yourlandscape.co.uk">Landscape</a> is an award-winning design & communications agency. We create tools, games, videos, digital experiences and learning materials to help organisations engage its workforce with reward, benefits, culture and wellbeing.</p>
                        <p class="text-left bluep">Money is the <a class="paralinkb" href="#">main form of stress</a> in the workplace and the impact on business and the economy is <a class="paralinkb" href="#">clear</a>. The financial exchange between employer and employee is the point at which guidance and support is needed most.</p>
                        <p class="text-left bluep">We apply techniques such as behavioural economics, gamification and learning styles, to develop financial wellbeing resources which help us spend our money well.</p>
                    </div>
                    
                </div>
                    <div class="col text-center chevronsvg">
                    <a class="nav-link" href="#contact"><img src="img/chevron.svg" height="25" alt="Chevron"></a>
                </div>
                    
            </div>
        </section>
    </div>
    
<!--Section 5 Contact-->    
    <div class="section">
        <section class="mz-block boardfixg padtop10a">
            <div class="container padtopfix">
                <div class="col text-center">
                    <div class="container parapad2 padbottom">
                        <p class="text-center whitep">If you are interested in finding out more about Money Zingers and other wellbeing content, subscribe to our mailing list</p>
                    </div>
                    <div class="container">
                        <form action="/" method="post">
                            <div class="form-group">
                                <input class="mzcentre" id="input" type="email" name="email" class="" placeholder="Your e-mail">
                            </div>
                        </form>
                    
                    </div>
                </div>
        </section>
        <section class="mz-block padtop200">
            <div class="container">
                <div class="d-flex flex-wrap align-content-sm-center justify-content-center">
                    <div class="p-0 mzcontactborder">
                        <p><a class="whitec" href="mailto:info@yourlandscape.co.uk?Subject=Money%20Zingers" target="_top">info@yourlandscape.co.uk</a></p>
                    </div>
                    <div class="p-0 mzcontactborder">
                        <p><a class="whitec" href="http://www.yourlandscape.co.uk">yourlandscape.co.uk</a></p>
                    </div>
                    <div class="p-0 mzcontactborder">
                        <p class="whitec">Copyright Landscape 2018</p>
                    </div>
                    <hr>
                </div>
            </div>
        </section>
    </div>
    
</div>



<!--<script src='http://code.jquery.com/jquery-2.2.4.min.js'></script>-->
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.3/vendors/scrolloverflow.min.js'></script>
<script src='https://rawgit.com/alvarotrigo/fullPage.js/dev/src/fullpage.js'></script>
<script src='https://cdn.jsdelivr.net/npm/modal-video@2.4.2/js/jquery-modal-video.min.js'></script>
<script src="js/needsharebutton.min.js"></script>
<script src="js/index.js"></script>

<% include partials/footer %>
